body {
    padding-top: 5rem;
}

main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 600px;
    height: auto;
    padding: 0;
    box-shadow: 4px 2px 18px rgba(0, 0, 0, 0.253);

    border-radius: 15px;
}

#head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(69, 138, 218),rgb(37, 107, 187));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
    
}

#avatar {
    height:200px;
    width: 200px;
    
    padding: 25px;
}

#head img {
    border-radius: 50%;
    border: 5px white solid;
    width: 100%;
    max-height: auto;
    box-shadow: 4px 2px 18px rgba(0, 0, 0, 0.253);

    
}

#user-info {
    margin-bottom: 10px;
}

#user-info > * {
    padding: 1px;
    margin: 0;
    text-align: center;
    color: #fff;
    text-shadow: 4px 2px 7px rgba(0, 0, 0, 0.418)
    
}

#content {
    margin: 15px;
    margin-bottom: 30px;
    color: #c7c7c7;
}

#user-data {
    display: flex;
    justify-content: center;
    margin: 15px;
}

#user-data > * {
    padding: 12px;
    margin: 0;
}

.label {
    padding-top: 0;
    margin-top: 0;
}

.number {
    color: rgb(44, 45, 46);
    font-size: larger;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
}

button {
    color: white;
    background-color: #7ed321;
    border: none;
    padding: 8px 50px;
    text-decoration: none;
    border-radius: 10px;
}